
<clr-datagrid [(clrDgSelected)]="internalFilterAttributes" (clrDgSelectedChange)="onInternalFilterAttributesChange()">
  <clr-dg-column>Attribute ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Type</clr-dg-column>
  <clr-dg-row *clrDgItems="let attribute of availableAttributes" [clrDgItem]="attribute" [clrDgSelected]="attribute.selected">
    <clr-dg-cell>{{attribute.attribute.id}}</clr-dg-cell>
    <clr-dg-cell>{{attribute.attribute.name}}</clr-dg-cell>
    <clr-dg-cell>{{attribute.attribute.description}}</clr-dg-cell>
    <clr-dg-cell>{{attribute.attribute.attributeType}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
