<mat-card>
  <mat-card-header class="mat-card-header">
    <mat-card-title>
      Knowledge-based filters for BPM execution
    </mat-card-title>
  </mat-card-header>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
  <mat-card-content class="fixed-content" style="">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>Filter:</mat-label>
      <mat-select [(ngModel)]="tasklist.knowledgeBasedFilter.filter.id" (selectionChange)="updateFilter($event)">
        <mat-option *ngFor="let filter of filters" [value]="filter.id">{{filter.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-tab-group>
      <mat-tab label="Attributes" *ngIf="getAttributes().length > 0">
        <div class="scrollable-content">
          <app-filter-execution-attributes>

          </app-filter-execution-attributes>
        </div>
      </mat-tab>
      <mat-tab label="BPM Elements" *ngIf="getRecproElements().length > 0">
        <div class="scrollable-content">
          <app-filter-execution-bpm-elements
                                             [bpmElements]="getRecproElements()"
                    [bpmElementInstances]="getRecproElementInstances()">

          </app-filter-execution-bpm-elements>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
  <mat-card-actions class="mat-card-actions">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="log()">Log</button>
    <button mat-raised-button (click)="save()">Save</button>
  </mat-card-actions>
</mat-card>
