<div class="clr-row">
  <div class="clr-col-12">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>Default value</mat-label>
      <input matInput [(ngModel)]="attribute.defaultValue" required>
    </mat-form-field>
  </div>
</div>
