<div class="clr-row">
  <div class="clr-col-6">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>Label</mat-label>
      <input matInput [(ngModel)]="rating.label">
    </mat-form-field>
  </div>
  <div class="clr-col-6">
    <mat-label>Default value:</mat-label>
    <mat-checkbox [(ngModel)]="rating.defaultValue"></mat-checkbox>
  </div>
</div>

<div class="clr-row">

</div>
