<div *ngIf="attribute && instance">
  <mat-form-field style="width: 100%"
                  matTooltip="{{attribute.description}}">
    <mat-label>Meta Attribute:</mat-label>
    <input matInput disabled>
    <mat-checkbox
      disabled="true"
      checked="true">
      {{attribute.name}}
    </mat-checkbox>
  </mat-form-field>
</div>
