<div class="clr-row">
  <div class="clr-col-12">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="scale.id" disabled>
    </mat-form-field>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-12">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Scale Details</mat-panel-title>
      </mat-expansion-panel-header>
      <app-scale-detail-modeling [scaleDetails]="scale.details"></app-scale-detail-modeling>
    </mat-expansion-panel>

  </div>
</div>

