<clr-datagrid>
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Label</clr-dg-column>
  <clr-dg-column>Value</clr-dg-column>
  <clr-dg-column>Position</clr-dg-column>
  <clr-dg-column>Delete</clr-dg-column>
  <clr-dg-row *clrDgItems="let scaleDetail of scaleDetails" [clrDgItem]="scaleDetail">
    <clr-dg-cell>{{scaleDetail.id}}</clr-dg-cell>
    <clr-dg-cell><input clrInput [(ngModel)]="scaleDetail.label"></clr-dg-cell>
    <clr-dg-cell><input clrInput type="number" [(ngModel)]="scaleDetail.value"></clr-dg-cell>
    <clr-dg-cell><input clrInput type="number" [(ngModel)]="scaleDetail.position"></clr-dg-cell>
    <clr-dg-cell (click)="removeDetail(scaleDetail)">
      <cds-icon shape="trash"></cds-icon>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <div class="clr-row">
      <div class="clr-col-1">
        <button mat-stroked-button style="margin: 3px;" (click)="addScaleDetail()">Add detail</button>
      </div>
      <div class="clr-col-11">
        {{scaleDetails.length}} details
      </div>
    </div>
  </clr-dg-footer>
</clr-datagrid>
