<clr-datagrid>
  <clr-dg-column>Process ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Version</clr-dg-column>
  <clr-dg-column>Model</clr-dg-column>
  <clr-dg-column>Attributes</clr-dg-column>

  <clr-dg-row *clrDgItems="let process of processes" [clrDgItem]="process">

    <clr-dg-cell>{{process.id}}</clr-dg-cell>

    <clr-dg-cell>{{process.name}}</clr-dg-cell>
    <clr-dg-cell>{{process.description}}</clr-dg-cell>
    <clr-dg-cell>{{process.version}}</clr-dg-cell>
    <clr-dg-cell (click)="openProcessModel(process.processModel)">
      <cds-icon shape="angle" direction="right"></cds-icon>
    </clr-dg-cell>
    <clr-dg-cell (click)="addAttribute(process.id)">
      <cds-icon shape="plus" direction="right"></cds-icon>
    </clr-dg-cell>

  </clr-dg-row>
  <clr-dg-detail *clrIfDetail="let process">
    <clr-dg-detail-header>{{process.name}}: Activities</clr-dg-detail-header>
    <clr-dg-detail-body>
      <app-activity [activities]="process.processModel.activities"></app-activity>
    </clr-dg-detail-body>
  </clr-dg-detail>

  <clr-dg-footer>{{processes.length}} processes</clr-dg-footer>
</clr-datagrid>

