<clr-header class="header header-1" [clr-nav-level]="1">
  <div class="branding">
    <a class="nav-link">
      <a routerLink=""><img src="assets/images/logos/recpro.svg" style="width: 192px;" alt="logo icon"></a>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="dashboard" routerLinkActive="active" class="nav-link"><span class="nav-text">Dashboard</span> </a>
    <a routerLink="./bpm/execution" routerLinkActive="active" class="nav-link"><span class="nav-text">Tasklist</span> </a>
    <a routerLink="./modeling" routerLinkActive="active" class="nav-link"><span class="nav-text">Modeling</span> </a>
  </div>
  <div class="header-actions">
    <a routerLink="./user" routerLinkActive="active" class="nav-link nav-icon-text">
      <cds-icon shape="user"></cds-icon>
      <span class="nav-text">{{user.firstName}} {{user.lastName}}</span>
    </a>
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
        <cds-icon shape="cog"></cds-icon>
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a routerLink="./about" clrDropdownItem>About</a>
        <a routerLink="./preferences" clrDropdownItem>Preferences</a>
        <a routerLink="./logout" clrDropdownItem (click)="logout()">Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
