<div *ngIf="attribute && instance">
  <mat-checkbox [indeterminate]="instance.state === 'NEUTRAL'" [ngModel]="instance.state === 'TRUE'"
                (ngModelChange)="changeAttributeStatus(instance)"></mat-checkbox>
  <mat-label>{{attribute.name}}</mat-label>
</div>
