<div class="clr-row">
  <div class="clr-col-12">
    <mat-card style="">
      <mat-card-header class="mat-card-header">
        <div class="clr-col-12">
          <h3>Users</h3>
        </div>
        <br>
      </mat-card-header>
      <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
      <mat-card-content class="fixed-content">
        <div class="scrollable-content" style="">

          <div class="clr-row">
            <mat-form-field class="clr-col-12" style="width: 100%">
              <mat-label>Current user:</mat-label>
              <mat-select [(ngModel)]="currentUser" (selectionChange)="setCurrentUser($event.value)">
                <mat-option *ngFor="let user of users" [value]="user">{{user.firstName}} {{user.lastName}} ({{user.id}})</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <clr-datagrid>
            <clr-dg-column>User ID</clr-dg-column>
            <clr-dg-column>First Name</clr-dg-column>
            <clr-dg-column>Last Name</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>
            <clr-dg-column>Remove</clr-dg-column>
            <clr-dg-column>Edit</clr-dg-column>

            <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
              <clr-dg-cell>{{user.id}}</clr-dg-cell>
              <clr-dg-cell>{{user.firstName}}</clr-dg-cell>
              <clr-dg-cell>{{user.lastName}}</clr-dg-cell>
              <clr-dg-cell>{{user.description}}</clr-dg-cell>
              <clr-dg-cell (click)="deleteUser(user)">
                <cds-icon shape="trash"></cds-icon>
              </clr-dg-cell>
              <clr-dg-cell (click)="editUser(user)" clr-align-center>
                <cds-icon shape="pencil"></cds-icon>
              </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
              <div class="clr-row">
                <div class="clr-col-1">
                  <button mat-stroked-button style="margin: 3px;" (click)="addUser()">Add user</button>
                </div>
                <div class="clr-col-11">
                  {{users.length}} users
                </div>
              </div>
            </clr-dg-footer>
          </clr-datagrid>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
