<div class="clr-row">
  <div class="clr-col-12">
    <app-scale-modeling [scale]="rating.scale"></app-scale-modeling>
  </div>
</div>

<div class="clr-row" style="margin-top: 20px">
  <div class="clr-col-12">
    <mat-form-field class="clr-col-12" style="width: 100%">
      <mat-label>Default value</mat-label>
      <input matInput type="number" [(ngModel)]="rating.defaultValue" required>
    </mat-form-field>
  </div>
</div>
