<div class="clr-row">
  <div class="clr-col-3">
    <mat-label>All Attributes:</mat-label>
    <mat-checkbox [(ngModel)]="filter.allInputAttributes"></mat-checkbox>
  </div>
  <div class="clr-col-3">
    <mat-label>All Elements:</mat-label>
    <mat-checkbox [(ngModel)]="filter.allInputElements"></mat-checkbox>
  </div>
  <div class="clr-col-3">
    <mat-label>All Ratings:</mat-label>
    <mat-checkbox [(ngModel)]="filter.allInputRatings"></mat-checkbox>
  </div>
  <div class="clr-col-3">
    <mat-label>All Users:</mat-label>
    <mat-checkbox [(ngModel)]="filter.allInputUsers"></mat-checkbox>
  </div>
</div>
