<div class="construction-container" style="height: 90vh;">
  <div class="center-content">
    <h1>Site Under Construction</h1>
    <p>We're currently working on something awesome! Please check back later.</p>
    <br>
    <cds-icon shape="exclamation-triangle" size="xxl" style="min-width: 100px; min-height: 200px; color: #B22222;"></cds-icon>
  </div>
</div>
