
<clr-datagrid [(clrDgSelected)]="internalFilterRatings" (clrDgSelectedChange)="onInternalFilterRatingsChange()">
  <clr-dg-column>Rating ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Type</clr-dg-column>
  <clr-dg-row *clrDgItems="let rating of availableRatings" [clrDgItem]="rating" [clrDgSelected]="rating.selected">
    <clr-dg-cell>{{rating.rating.id}}</clr-dg-cell>
    <clr-dg-cell>{{rating.rating.name}}</clr-dg-cell>
    <clr-dg-cell>{{rating.rating.description}}</clr-dg-cell>
    <clr-dg-cell>{{rating.rating.ratingType}}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
