<app-alert></app-alert>
<mat-card style="height: 80vh;">
  <mat-card-header class="mat-card-header">
    <div class="clr-row" style="width: 100%; height: 100%">
      <div class="clr-col-lg-8">
        <h3 class="card-header">{{currentTask.activity.name}} {{currentTask.assigneeId}}</h3>
      </div>
      <div class="clr-col-lg-4">
        <div class="btn-group btn-primary" style="float: right">
          <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="unclaim()" *ngIf="isCurrentUserAssignee()">Unclaim</button>
          <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="startTask()" *ngIf="isCurrentUserAssignee() && !isTaskStarted()">Start Task</button>
          <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="stopTask()" *ngIf="isCurrentUserAssignee() && isTaskStarted()">Stop Task</button>
          <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="claim()" *ngIf=!isCurrentUserAssignee()>Claim</button>
          <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="log()">log</button>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-divider style="margin-top: 10px; margin-bottom: 20px;"></mat-divider>
  <mat-card-content class="fixed-content" >
    <mat-tab-group animationDuration="1000ms" color="primary">
      <mat-tab label="Form">
        <div style="margin: 50px"
             class="scrollable-content">
          <app-task-detail-form
          ></app-task-detail-form>
        </div>

      </mat-tab>
      <mat-tab label="Description">
        <div style="margin: 50px"
             class="scrollable-content">
          <app-task-detail-description></app-task-detail-description>
        </div>
      </mat-tab>
      <mat-tab label="Process">
        <div style="margin: 50px"
             class="scrollable-content">
          <app-task-detail-process></app-task-detail-process>
        </div>
      </mat-tab>
      <mat-tab label="Information" >
        <div style="margin: 50px"
             class="scrollable-content">
          <app-task-detail-information
          ></app-task-detail-information>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-divider style="margin-top: 10px; "></mat-divider>
  <mat-card-actions class="mat-card-actions">
    <div class="clr-row" style="width: 100%;">
      <div class="clr-col-12">
        <div class="btn-group btn-primary" style="float: right">
          <button class="btn btn-info-outline" (click)="saveAttributes()" [disabled]="!isCurrentUserAssignee() || !isTaskStarted()">Save</button>
          <button class="btn btn-info-outline" (click)="completeTask()" [disabled]="!isCurrentUserAssignee() || !isTaskStarted()">Complete</button>
        </div>
      </div>
    </div>


  </mat-card-actions>
</mat-card>
