<mat-card class="your-card">
  <mat-card-header class="mat-card-header">
    <mat-card-title>
      Add Knowledge Based filter
    </mat-card-title>
  </mat-card-header>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
  <mat-card-content class="fixed-content">
    <mat-tab-group animationDuration="1000ms" color="primary">
      <mat-tab label="Filter">
        <div class="scrollable-content" style="margin-top: 20px;">
          <div class="clr-row">
            <div class="clr-col-6">

              <mat-form-field class="clr-col-12" style="width: 100%">
                <mat-label>Filter type:</mat-label>
                <mat-select [(ngModel)]="filter.filterType" (selectionChange)="createNewFilter($event.value)">
                  <mat-option *ngFor="let elementType of typeOptions" [value]="elementType">{{elementType}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="clr-col-6">
              <mat-form-field class="clr-col-12" style="width: 100%">
                <mat-label>ID</mat-label>
                <input matInput [(ngModel)]="filter.id" disabled>
              </mat-form-field>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-6">
              <mat-form-field class="clr-col-12" style="width: 100%">
                <mat-label>Name:</mat-label>
                <input matInput [(ngModel)]="filter.name">
              </mat-form-field>
            </div>
            <div class="clr-col-6">
              <mat-form-field class="clr-col-12" style="width: 100%">
                <mat-label>URL:</mat-label>
                <input matInput [(ngModel)]="filter.filterUrl">
              </mat-form-field>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-12">
              <mat-form-field class="clr-col-12" style="width: 100%">
                <mat-label>Description:</mat-label>
                <textarea matInput [(ngModel)]="filter.description" rows="4"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div [ngSwitch]="filter.filterType">
            <div *ngSwitchCase="'BASE'">
              <app-base-filter-modeling-detail
                [filter]="getBaseFilter()"
              ></app-base-filter-modeling-detail>
            </div>
            <div *ngSwitchCase="'KNOWLEDGE_BASED'">
              <app-knowledge-based-filter-modeling-detail
                [filter]="getKnowledgeBasedFilter()"
              ></app-knowledge-based-filter-modeling-detail>
            </div>
            <div *ngSwitchCase="'COLLABORATIVE'">
              <app-collaborative-filter-modeling-detail
                [filter]="getCollaborativeFilter()"
              ></app-collaborative-filter-modeling-detail>
            </div>
            <div *ngSwitchCase="'CONTENT_BASED'">
              <app-content-based-filter-modeling-detail
                [filter]="getContentBasedFilter()"
              ></app-content-based-filter-modeling-detail>
            </div>
            <div *ngSwitchCase="'HYBRID'">
              <app-hybrid-filter-modeling-detail
                [filter]="getHybridFilter()"
              ></app-hybrid-filter-modeling-detail>
            </div>
          </div>
        </div>
      </mat-tab>
      <div [ngSwitch]="filter.filterType">
        <div *ngSwitchCase="'KNOWLEDGE_BASED'">
          <mat-tab label="Attributes"  *ngIf="!getKnowledgeBasedFilter().allInputAttributes">
            <div class="scrollable-content">
              <app-filter-attributes
                [(filterAttributes)]="getKnowledgeBasedFilter().attributes"
              ></app-filter-attributes>
            </div>
          </mat-tab>
          <mat-tab label="Elements" *ngIf="!getKnowledgeBasedFilter().allInputElements">
            <div class="scrollable-content">
              <app-filter-bpm-elements
                class="scrollable-content"
                [(filterElements)]="getKnowledgeBasedFilter().bpmElements"
              ></app-filter-bpm-elements>
            </div>
          </mat-tab>
        </div>
        <div *ngSwitchCase="'CONTENT_BASED'">
          <mat-tab label="Attributes"  *ngIf="!getContentBasedFilter().allInputAttributes">
            <div class="scrollable-content">
              <app-filter-attributes
                [(filterAttributes)]="getContentBasedFilter().attributes"
              ></app-filter-attributes>
            </div>
          </mat-tab>
          <mat-tab label="Elements" *ngIf="!getContentBasedFilter().allInputElements">
            <div class="scrollable-content">
              <app-filter-bpm-elements
                class="scrollable-content"
                [(filterElements)]="getContentBasedFilter().bpmElements"
              ></app-filter-bpm-elements>
            </div>
          </mat-tab>
          <mat-tab label="Ratings" *ngIf="!getContentBasedFilter().allInputRatings">
            <div class="scrollable-content">
              <app-filter-ratings
                class="scrollable-content"
                [(filterRatings)]="getContentBasedFilter().ratings"
              ></app-filter-ratings>
            </div>
          </mat-tab>
        </div>
        <div *ngSwitchCase="'COLLABORATIVE'">
          <mat-tab label="Attributes"  *ngIf="!getCollaborativeFilter().allInputAttributes">
            <div class="scrollable-content">
              <app-filter-attributes
                [(filterAttributes)]="getCollaborativeFilter().attributes"
              ></app-filter-attributes>
            </div>
          </mat-tab>
          <mat-tab label="Elements" *ngIf="!getCollaborativeFilter().allInputElements">
            <div class="scrollable-content">
              <app-filter-bpm-elements
                class="scrollable-content"
                [(filterElements)]="getCollaborativeFilter().bpmElements"
              ></app-filter-bpm-elements>
            </div>
          </mat-tab>
          <mat-tab label="Ratings" *ngIf="!getCollaborativeFilter().allInputRatings">
            <div class="scrollable-content">
              <app-filter-ratings
                class="scrollable-content"
                [(filterRatings)]="getCollaborativeFilter().ratings"
              ></app-filter-ratings>
            </div>
          </mat-tab>
          <mat-tab label="Users" *ngIf="!getCollaborativeFilter().allInputUsers">
            <div class="scrollable-content">
              <app-filter-users
                class="scrollable-content"
                [(filterUsers)]="getCollaborativeFilter().users"
              ></app-filter-users>
            </div>
          </mat-tab>
        </div>
      </div>
    </mat-tab-group>
  </mat-card-content>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
  <mat-card-actions class="mat-card-actions">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="log()">LOG</button>
    <button mat-raised-button (click)="save()">Save</button>
  </mat-card-actions>
</mat-card>


