<mat-card class="your-card">
  <mat-card-header class="mat-card-header">
    <mat-card-title>
      Add user
    </mat-card-title>
  </mat-card-header>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
  <mat-card-content class="fixed-content">
    <div class="clr-row">
      <div class="clr-col-12">
        <mat-form-field class="clr-col-12" style="width: 100%">
          <mat-label>ID</mat-label>
          <input matInput [(ngModel)]="user.id" disabled>
        </mat-form-field>
      </div>

    </div>
    <div class="clr-row">
      <div class="clr-col-6">
        <mat-form-field class="clr-col-12" style="width: 100%">
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="user.firstName" required>
        </mat-form-field>
      </div>
      <div class="clr-col-6">
        <mat-form-field class="clr-col-12" style="width: 100%">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="user.lastName" required>
        </mat-form-field>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-12">
        <mat-form-field class="clr-col-12" style="width: 100%">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="user.description"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
  <mat-card-actions class="mat-card-actions">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="save()">Save</button>
  </mat-card-actions>
</mat-card>


