<mat-card style="margin-bottom: 20px;" *ngIf="task !== null" [ngStyle]="{ 'background-color': color }">
  <div class="clr-row" style="margin: 10px;">
    <div style="font-size: 18px;"><strong>{{task.activity.name}}</strong></div>
  </div>
  <div class="clr-row" style="margin-left: 10px; margin-right: 10px;">
    <div class="clr-col-lg-12 clr-col-md-12">
      {{task.processInstance.processName}}
    </div>
    <!--    <div class="clr-col-lg-4 clr-col-md-6" style="text-align: right">-->
    <!--      {{task.priority}}-->
    <!--    </div>-->
  </div>
  <div class="clr-row" style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
    <div class="clr-col-lg-12 clr-col-md-12">
      Created at: {{task.createDate | date: 'short'}}

    </div>
    <div class="clr-col-lg-12 clr-col-md-12" style="text-align: right">
      {{task.assigneeId}}
    </div>
  </div>
</mat-card>
