<div class="clr-row">
  <div class="clr-col-12">
    <app-start-process></app-start-process>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-lg-3 clr-col-md-5">
    <mat-card style="height: 80vh">
      <mat-card-header class="mat-card-header">
        <div class="clr-col-12">
          <h3>Worklist</h3>
        </div>
        <br>

      </mat-card-header>
      <mat-divider style="margin-top: 10px; margin-bottom: 10px;"></mat-divider>
      <mat-card-content class="fixed-content">
        <div class="scrollable-content" style="min-height: 78vh; max-height: 78vh;">
          <app-tasklist [tasklist]="tasklist"></app-tasklist>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="clr-col-lg-9 clr-col-md-7" *ngIf="currentTask && currentTask.id !== -1">
    <app-task-detail></app-task-detail>
  </div>
  <div class="clr-col-lg-9 clr-col-md-7" *ngIf="!currentTask || currentTask.id === -1">
    <!--    <app-bpm-similarities></app-bpm-similarities>-->
    <mat-card style="height: 80vh;">
      <mat-card-header class="mat-card-header">
        <div class="clr-row" style="width: 100%; height: 100%; margin-left: 20px;">
          <h3>Filter</h3>
        </div>
      </mat-card-header>
      <mat-divider style="margin-top: 10px; margin-bottom: 20px;"></mat-divider>
      <mat-card-content class="fixed-content" >
        <div class="clr-row" >
          <div class="clr-col-6">
            <mat-card style="height: 100%; width: 100%;">
              <mat-card-header style="text-align: center; width: 100%;">
                <mat-card-title style="text-align: center; width: 100%;">Order worklist</mat-card-title>
              </mat-card-header>
              <mat-card-content style="text-align: center">
                <mat-form-field class="clr-col-12" style="width: 100%; margin-top: 20px;">
                  <mat-label>Order by</mat-label>
                  <mat-select [(ngModel)]="tasklist.baseFilter.filterInstance.tasklistOrder" (selectionChange)="saveFilter(tasklist.baseFilter.filterInstance)" disabled="true">
                    <mat-option *ngFor="let orderByType of orderByOptions" [value]="orderByType">[FILTER IS ACTIVATED]</mat-option>
                  </mat-select>
                </mat-form-field>
                <!--                <p>-->
                <!--                  Order worklist according to your preferences.-->
                <!--                </p>-->
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="clr-row" style="margin-top: 10px;">
          <div class="clr-col-3">
            <mat-card style="height: 100%;">
              <mat-card-header style="text-align: center; width: 100%;">
                <mat-card-title style="text-align: center; width: 100%;">Custom filter</mat-card-title>
              </mat-card-header>
              <mat-card-content style="text-align: center">
                <div style="text-align: center; min-height: 52px; margin-top: 20px;">
                  <cds-icon shape="filter" class="cds-icon-green" style="width: 52px; height: 52px;"></cds-icon>
                </div>
                <p>
                  Filter worklist for tasks according to your preferences.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="clr-col-3">
            <mat-card style="height: 100%; ">
              <mat-card-header style="text-align: center; width: 100%;">
                <mat-card-title style="text-align: center; width: 100%;">Similar tasks</mat-card-title>
              </mat-card-header>
              <mat-card-content style="text-align: center">
                <div style="text-align: center; min-height: 52px; margin-top: 20px;">
                  <cds-icon shape="filter" class="cds-icon-green" style="width: 52px; height: 52px;"></cds-icon>
                </div>
                <p>
                  Filter worklist for tasks similar to your most recently executed task.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="clr-row" style="margin-top: 10px;">
          <div class="clr-col-3">
            <mat-card style="height: 100%;">
              <mat-card-header style="text-align: center; width: 100%;">
                <mat-card-title style="text-align: center; width: 100%;">Continue working </mat-card-title>
              </mat-card-header>
              <mat-card-content style="text-align: center">
                <div style="text-align: center; min-height: 52px; margin-top: 20px;">
                  <cds-icon shape="filter" class="cds-icon-green" style="width: 52px; height: 52px;"></cds-icon>
                </div>
                <p>
                  Filter worklist for tasks within the same process instance of your most recently executed task.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="clr-col-3">
            <mat-card style="height: 100%; background-color: #b4e1de">
              <mat-card-header style="text-align: center">
                <mat-card-title style="text-align: center">Similar users</mat-card-title>
              </mat-card-header>
              <mat-card-content style="text-align: center">
                <div style="text-align: center; min-height: 52px; margin-top: 20px;">
                  <cds-icon shape="filter" class="cds-icon-green" style="width: 52px; height: 52px;"></cds-icon>
                </div>
                <p>
                  Filter worklist for tasks other users liked, too.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>


      </mat-card-content>
    </mat-card>
  </div>
</div>
