<div >
  <div class="clr-row">
    <app-attribute-execution
      [disabled]="!isCurrentUserAssignee() || !isTaskStarted()"
      [attributes]="currentTask.attributes">
    </app-attribute-execution>
  </div>
</div>


