<div class="content-container" style="margin: 20px;">
  <div class="clr-row" style="margin-bottom: 20px;">
    <div class="clr-col-12">
      <h2>Add attribute</h2>
    </div>
  </div>
  <app-attribute-creator-base [attribute]="attribute"></app-attribute-creator-base>
  <mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="save()">Save</button>
  </mat-dialog-actions>
</div>


