<div class="clr-row">
  <div class="clr-col-12">
    <mat-form-field class="clr-col-6" style="width: 100%">
      <mat-label>Tasklist order (default):</mat-label>
      <mat-select [(ngModel)]="filter.tasklistOrder">
        <mat-option *ngFor="let elementType of typeOptions" [value]="elementType">{{elementType}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="clr-col-6" style="width: 100%">
      <mat-label>Tasklist order (default):</mat-label>
      <mat-select [(ngModel)]="filter.ascending">
        <mat-option [value]="true">ASCENDING</mat-option>
        <mat-option [value]="false">DESCENDING</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
